<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987529006182-6qkvj6u17sbdurpgjs28muq4j5buuni1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987529006182-6qkvj6u17sbdurpgjs28muq4j5buuni1</string>
	<key>API_KEY</key>
	<string>AIzaSyCJACCDYre2KNk9SXIwNMdd5SfFBZmQWVk</string>
	<key>GCM_SENDER_ID</key>
	<string>987529006182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.shahiel.SwiftCheckout</string>
	<key>PROJECT_ID</key>
	<string>swiftcheckout3</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftcheckout3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987529006182:ios:2a479f7e9a845fe42771a7</string>
</dict>
</plist>